.server-info {
    background-color: #FFFFFF;
    padding: 20px;
    border-bottom: 1px solid #EEEEEE;
    height: auto;
    width: 100%;
}

.server-info .name {
    font-size: 25px;
    font-weight: 500;
}

.server-info .option-block-server {
    cursor: pointer;
}

/*MODAL*/

.add-server-modal, .block-server-modal {
    margin: 25%;
    padding: 30px;
    background-color: white;
    text-align: center;
}

.confirmation-buttons {
    margin-top: 15px;
}

.block-server-modal .confirmation-buttons .no-button {
    width: 40%;
    margin-right: 20px;
}

.block-server-modal .confirmation-buttons .yes-button {
    width: 40%;
    margin-left: 20px;
}

.add-server-modal .add-server-modal-title {
    font-size: 30px;
}

.add-server-inputs {
    display: flex;
    margin: 20px;
}

.new-server-type, .new-server-name {
    width: 50%;
}

.new-server-name {
    margin-left: 10px;
}

.new-server-type {
    margin-right: 10px;
}