version: '3.7'

services:

  app:
    image: node:14.1-alpine
    working_dir: /app
    volumes:
      - ./:/app
    command: sh -c "npm run start:dev"
    ports:
      - 3000:3000
      - 5000:5000
    environment:
      - CHOKIDAR_USEPOLLING=true
    stdin_open: true
