.publication-info {
    background-color: #FFFFFF;
    padding: 20px;
    border-bottom: 1px solid #EEEEEE;
    height: auto;
    width: 100%;
}

.publication-info .title {
    font-weight: 600;
}

/*MODAL*/

.publication-reservations-modal, .block-publication-modal {
    padding: 30px;
    background-color: white;
    text-align: center;
}

.reservation-info, .transaction-info {
    background-color: #FFFFFF;
    padding: 20px;
    border-bottom: 1px solid #EEEEEE;
    height: auto;
    width: 100%;
}

.period {
    margin-top: 10px;
}

.transactions-modal {
    padding: 30px;
    background-color: white;
    text-align: center;
}

.confirmation-buttons {
    margin-top: 15px;
}

.block-publication-modal .confirmation-buttons .block-publication-no-button {
    width: 40%;
    margin-right: 20px;
}

.block-publication-modal .confirmation-buttons .block-publication-yes-button {
    width: 40%;
    margin-left: 20px;
}

.modal {
    overflow: scroll;
}