#close-session-button {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: red;
}

.close-session-modal {
    margin: 25%;
    padding: 30px;
    background-color: white;
    text-align: center;
}

.confirmation-buttons {
    margin-top: 15px;
}

.close-session-modal .confirmation-buttons .no-button {
    width: 40%;
    margin-right: 20px;
}

.close-session-modal .confirmation-buttons .yes-button {
    width: 40%;
    margin-left: 20px;
}