.login {
    text-align: center;
    margin-top: 200px;
}

.mail, .password {
    margin-bottom: 10px;
    margin-top: 10px;
}

#login-button {
    margin-top: 20px;
}

.error-message {
    color: red;
    margin-top: 10px;
}